.addressBox {
  height: 180px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.17);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
}

.radioDiv {
  width: 50px;
}

.addrDiv {
  text-align: justify;
  color: gray;
}

.addressType {
  font-weight: bold;
  font-size: 15px;
  color: darkolivegreen;
}

.addressBtn {
  width: 70%;
}

.addressInpDiv {
  overflow: hidden;
  height: 50px;
  align-content: center;
  text-align: justify;
}

.labelDiv {
  padding: 0 50px 0 50px;
  font-size: 15px;
  height: 38px;
  width: 120px;
}

.addressInpDiv > div.inpDiv {
  display: flex;
}

.addressInpDiv > div.inpDiv > input[type="text"],
.addressInpDiv > div.inpDiv > select {
  width: 65%;
  font-size: 16px;
}

.addressInpDiv > div.inpDiv > input[type="radio"] {
  width: 14px;
}

.addressInpDiv > div.inpDiv > p {
  font-size: 13px;
}