.cartContainer {
    overflow: hidden;
    min-height: 600px;
    text-align: center;
}
.cartleft {
    width: 66%;
    min-height: inherit;
}

.cartright {
    width: 30%;
}

.cartprods {
    width: fit-content;
}

.cartproduct {
    border-bottom: 1px solid lightgray;
    width: 90%;
    overflow: hidden;
}

.cartprodicon {
    width: 20%;
}

.cartprodname p.desc, .summary p.desc {
    font-size: 12px;
    color: gray;
}

.cartname {
    font-weight: bold;
}

.cartprice strike {
    font-size: 12px;
    color: gray;
}
.cartbtn {
    height: 35px;
    width: fit-content;
    border: 1px solid lightgray;
    border-radius: 0;
    text-align: center;
}

.cartbtn button, .cartbtn div {
    height: inherit;
    width: 20px;
    float: left;
    border: 0;
    align-content: center;
}

.order {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    box-shadow: 0 0 100px 0 rgba(0,0,0,.17);
    box-sizing: border-box;
    min-height: inherit;
}

.bill {
    min-height: inherit;
    width: 30%;
    border: 1px solid lightgray;
    box-shadow: 0 0 100px 0 rgba(0,0,0,.17);
    box-sizing: border-box;
}

.total {
    border-top: 1px solid lightgray;
    font-weight: bold;
    font-size: 15px;
}

.summary p.discount {
    display: inherit;
}

.delivery p.desc {
    color: gray;
    padding: 0 20px;
    font-size: 14px;
    text-align: center;
}
.placeOrderBtn {
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    background-color: green;
    color: white
}
.placeOrderBtn:hover {
    border: 1px solid green;
    color: green;
    background-color: lightgreen;
}

.placeOrderBtn:active {
    background-color: green;
    color: white
}

.edtAdd {
    width: 50%;
}
