* {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

img {
  height: inherit;
}

p,
h1 {
  line-height: 1.5;
  text-align: justify;
}
.container {
  margin: 0 33vh;
}

.col-3 {
  width: 33%;
  float: left;
  text-align: center;
}

.input {
  border-radius: 15px;
  padding-left: 15px;
  border: 1px solid #1a504c;
  outline: 0;
  width: 300px;
  height: 38px;
  font-size: 18px;
  color: #1a504c;
}

.btn {
  height: 40px;
  width: 80px;
  color: #1a504c;
  border-radius: 15px;
  border: 1px solid #1a504c;
  font-weight: bold;
  background-color: #fff;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.aligncenter {
  align-content: center;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.fontsize12 {
  font-size: 12px;
}

.table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  height: 4rem;
  color: #4f6716;
  background-color: #dfea8b;
}
tr {
  border: 1px solid #4f6716;
  height: 45px;
}
th,
td {
  padding: 0.5rem;
  width: 0.5rem;
}
.table th {
  font-weight: bold;
  font-size: 17px;
  border: 1px;
}
td {
  background-color: #dce3f0;
}
.pad-20 {
    padding: 20px;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}