
.product {
    overflow: hidden;
}
.prodbox {
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 100px 0 rgba(0,0,0,.17);
    height: 320px;
    padding: 12px;
    margin: 5px 10px 15px;
    box-sizing: border-box;
    float: left;
    min-width: 186px;
    max-width: 186px;
}
.prodicon {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid lightgray;
}
.prodname {
    width: 100%;
    height: 20%;
}

.prodname p.name {
    padding-top: 5px;
    font-size: 15px;
}
.prodname p.desc {
    font-size: 12px;
    color: gray;
}
.price {
    font-size: 12px;
    color: gray;
    display: inline-block;
    margin-top: 10px;
}
.discount {
    color: green;
    font-size: 12px;
    display: inline-block;
}
.fp {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.addbtn {
    height: 30px;
    border-radius: 5px;
    margin-top: 30px;
    width: auto;
    padding: 0 10px;
}
.addbtn:hover {
    color: white;
    background-color: #1a504c;
}
.addbtn:active {
    color: #1a504c;
    background-color: white;
}